
.col-md-4 img{
    margin: 3px;
    height: 70%;
    width: 70%;
    align-self: center;
}
.product-container
{
    width: 80%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    border-right: 1px solid gray;
}
.card-body
{
    margin: 3px;
}
.shop-container
{
    display: flex;
    
}
.col-md-2
{
    border: 1px solid gray;
    border-radius: 20px;
    margin-top: 5px;
}

.price{
    color: #FF136F;
}
.buy-now-button{
background-image: linear-gradient(to bottom, #FF5898 0%, #FF136F 100% );
color: #fff; 
border: none;
border-radius: 8px; 
padding: 9px 25px;
}
.card{
    margin-bottom: 5px;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 5px 5px 5px lightgray;
}
.card-body p
{
 text-align: left;
}